<nav>
	<p>
		<%= link_to "Criar Vagas", new_job_path %>
		<%= link_to "Criar Empresas", new_company_path %>
	</p>
</nav>
<aside>
	<div>
			<% @companies.each do |company| %>
				<%= link_to company.name, company %></br>
			<% end %>
	</div>
</aside>

<section>
		<%= render @jobs%>
</section>